In [1]:
import pandas as pd 
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [6]:
latinAmerica= pd.read_csv('Datasets\worldbankLatinAmerica.csv', encoding= 'UTF-8')
latinAmerica.tail()

,país Name,país Code,serie Name,serie Code,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Data from Database: Indicadores del desarrollo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN